
<div class="flex justify-between">
    <div class="m-1 font-semibold text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">
        Random GIF of The Day
    </div>
    
</div>
<div class="relative flex bg-white p-2 rounded-md mb-4 border border-lime-100">
    <div *ngIf="randGif; else wait">
        <mat-icon class="absolute top-2 right-2" (click)="onChange()">
            update
        </mat-icon>
        <div class="flex"  >
            <div class="flex">
                <picture  class=" flex items-center flex-shrink-0">
                    <source type="image/webp"  [srcset]="randGif.images?.fixed_height.url" >
                    <img [src]="randGif.images?.fixed_height.url" class="rounded-md" [alt]="randGif.title" >
                </picture>
            </div>
            <div class="flex flex-col p-1">
                <div class="font-semibold">
                    {{randGif.title}}
                </div>
                <div class="flex" *ngIf="randGif.user">
                    <img [src]="randGif.user.avatar_url" class="rounded-full h-5 w-5 border border-black" >
                    <div class="ml-1 flex items-center">
                        {{randGif.user.display_name}}
                    </div>
                </div>
                <div class="flex flex-row max-w-2xl">
                    <span class="font-semibold">Rating: </span>
                     <span class="truncate">{{randGif.rating||'N/A'}}</span>
                </div>
                <div class="flex flex-row max-w-2xl">
                    <span class="font-semibold">Description:</span>
                     <span class="truncate">{{randGif.user?.description||'N/A'}}</span>
                </div>
            </div>
        </div>
        <mat-icon class="absolute bottom-2 right-2" (click)="getLink()">link</mat-icon>
    </div>
    
    <ng-template #wait>
        <div class="flex justify-center">
            <div class="flex justify-center animate-pulse font-semibold text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">Please wait</div>
        </div>
    </ng-template>
    
    
        
    
    
   
</div>
