
<div class=" flex flex-auto flex-col bg-main min-h-full min-w-full">
  <app-header class="flex-0"></app-header>
  <div class=" flex flex-col flex-auto w-full h-full">
    <div class="mt-10 h-[60px] items-center flex justify-center text-[45px] text-transparent bg-clip-text font-bold bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">
      GIPTREND
    </div>
    <div class="my-2 text-[25px] font-semibold flex justify-center">
      find the trending GIFs
    </div>
    
    <div class="px-10">
      <app-searchbar></app-searchbar>
      <app-trending></app-trending>
      <app-random></app-random>
    </div >
  </div>
  
  <app-footer class="flex-0"></app-footer>
</div>


